@import "../../styles/style.scss";
.breadcrumb-wrapper {
    max-width: 1140px;
    height: 40px;
    padding: 14px 24px;
    .bread-arrow {
        font-size: 14px;
    }
    .pre-state {
        font-size: 14px;
        color: $main-black;
        opacity: 0.6;
        text-decoration: none;
    }
    .current-state {
        font-size: 14px;
        color: $main-black;
        opacity: 0.9;
    }
}
