@import "../../styles/style.scss";

.class-card-wrapper {
    max-width: 380px;
    min-height: 330px;
    padding: 16px;
    margin: 16px 32px;
    border: 1px solid $main-gray;
    flex-grow: 1;
    .card-img {
        width: 100%;
        object-fit: cover;
        img {
            width: 100%;
        }
    }
    .card-content {
        font-size: 18px;
        color: $main-black;
        .share-icon {
            font-size: 24px;
            color: $main-sky-blue;
            padding: 16px;
            margin-right: 8px;
        }
    }
    .card-name,.countPeople {
        margin: 0;
        margin-bottom: 16px;
        color: $main-black;
    }
    .countPeople{
      padding-top:3px;
      font-size: 12px;
    }

    .card-btn {
        display: block;
        color: $main-scarlet;
        text-decoration: none;
        border: 1px solid $main-scarlet;
        padding: 8px 0;
        cursor: pointer;
        &:hover{
          color:$sub-white;
          border: 1px solid $main-orange;
          background: $main-orange;
        }
    }
}

@media (max-width: 768px) {
    .card-wrapper {
        margin: 16px 0;
    }
}
