@import "../../styles/style.scss";
$sub-color: grey;
$main-color: black;


.container {
    .coupon {

        font-size: 16px;
    }

    .text-coupon-code {
        color:$main-sky-blue;
        font-size: 16px;
        margin: 25px;
    }

    .code-input {
        background: none;
        background-color: white;
        color: $sub-color;
        font-size: 16px;
        font-weight: bold;
         padding: 0 10px;
        color:$main-black;
        display: block;
        width: 150px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $sub-color;
        margin: 25px 0;
    }

    :focus {
        outline: none;
    }




}