@import "../../styles/style.scss";

.suggest-container {
    // height: 65vh;
    margin: 66px auto;
    > h1 {
        font-size: 26px;
        color: $main-black;
        &::before {
            content: "";
            display: block;
            width: 40px;
            height: 1px;
            background: $main-black;
        }
        &::after {
            content: "";
            display: block;
            width: 40px;
            height: 1px;
            background: $main-black;
        }
        span {
            font-weight: 300;
            letter-spacing: 1px;
            margin: 10px;
        }
    }
    div {
        .icon-style {
            font-size: 32px;
            color: $main-black;
        }
    }
}
