@import "../../styles/style.scss";

.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 30px;
    
    .shopping-icon {
      width: 18px;
      height: 18px;
      color: $sub-white;
    }
  
    .item-count {
      position: absolute;
      font-size: 10px;
      font-weight: bold;
      bottom: 32px;
      color:$sub-white;
    }
  }
  