@import "../../styles/style.scss";

.card-wrapper {
    max-width: 250px;
    margin: 16px 8px 16px;
    padding: 8px;
    flex-grow: 1;
    border: 0;
    .card-img {
        width: 100%;
        object-fit: cover;
        img {
            width: 100%;
        }
    }
    .item-button-container {
        position: relative;
        width: 30%;
        height: 30%;
        opacity: 0.7;
        bottom: 200px;
        z-index: 2000;
        display: none;
    }

    &:hover {
    .card-img {
        width: 100%;
        object-fit: cover;
        img {
            width: 100%;
            opacity: 0.2;
        }
    }
    .item-button-container {
        position: relative;
        width: 30%;
        height: 30%;
        opacity: 0.7;
        bottom: 200px;
        z-index: 2000;
        display: block;
     }
    }

   
    
}

.saved-btn {
    max-width: 250px;
    font-size: 14px;
    position: relative;
}


.card-content {
    font-size: 14px;
}
.card-price {
    font-size: 14px;
}
.card-name {
    margin: 0;
}

.item-button-container {
    margin-left: 40px;
}



