@import "../../styles/style.scss";

.card-wrapper {
  position: relative;
  max-width: 250px;
  margin: 16px 8px 16px;
  padding: 8px;
  flex-grow: 1;
  border: 0;
  .card-img {
    width: 100%;
    object-fit: cover;
    img {
      width: 100%;
    }
  }
}
.item-button-container {
  max-width: 250px;
  position: relative;
  font-size: 20px;
  color: $main-light-blue;
  cursor: pointer;

  .cart-anchor {
    position: absolute;
    bottom: 105px;
    left: -64px;
    padding: 8px;
    font-size: 16px;
    color: $main-light-blue;
    background: transparent;
  }

  .cart-anchor:hover,
  .cart-ancor::after {
    color: $main-orange;
  }
}

.saved-btn {
  max-width: 250px;
  font-size: 14px;
  position: relative;
}

.card-content {
  font-size: 14px;
}
.card-price {
  font-size: 14px;
}
.card-name {
  margin: 0;
}
