@import "../../styles/style.scss";

.card-wrapper {
    position: relative;
    max-width: 250px;
    margin: 16px 8px;
    padding: 8px;
    flex-grow: 1;
    border: 0;
    .item-detail-url {
        text-decoration: none;
        color: $main-black;
        .card-content {
            font-size: 14px;
            z-index: 300;
        }
        .card-price {
            font-size: 14px;
            z-index: 300;
        }
    }
    .card-img {
        width: 100%;
        object-fit: cover;
        img {
            width: 100%;
        }
    }

    &:hover {
        img {
            opacity: 0.5;
        }

        // .card-content {
        //     opacity: 0.7;
        // }
        // .card-price {
        //     opacity: 0.7;
        // }
    }
    .saved-btn {
        position: absolute;
        right: 10px;
        top: 20px;
        // max-width: 250px;
        width: 20px;
        height: 20px;
        padding: 10px;
    }
}

.card-content {
    font-size: 14px;
    text-decoration: none;
    z-index: 300;
}
.card-price {
    font-size: 14px;
    text-decoration: none;
    z-index: 300;
}
.card-name {
    margin: 0;
    text-decoration: none;
    max-width: 230px;
}
