@import "../../styles/style.scss";

.item-head {
    margin-bottom: 2.8%;
}
.item-head-banner {
    width: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}
.brand-name {
    font-size: 28px;
    text-align: center;
    font-weight: 300;
    margin: 4% 0 2%;
}

.brand-content {
    text-align: center;
    font-weight: 300;
    // margin: 4px 0;
}

// @media
// max-width: 250px;
