@import "../../styles/style.scss";

.item-head {
    width: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}
.brand-name {
    font-size: 28px;
    text-align: center;
}

.brand-content {
    text-align: center;
}
