/* variable area */
$main-blue: rgba(99, 129, 168, 0.8);

$main-blue: #6381a8;
$main-light-blue: #acc5e1;
$main-sky-blue: #828fb6;
$main-white: #f5f5f5;
$sub-white: #ffffff;
$main-gray: #e6e6e6;
$main-black: #555555;
$main-orange: #f7b66c;
$main-scarlet: #d94f06;
$title-font-weight: 300;
$title-font-size: 28px;

/* font*/
$Roboto: "Roboto", "Noto Sans TC", sans-serif;
//logo font
$Libre: "Libre Baskerville", serif;
//main page banner font, our slogan
$Frank: "Frank Ruhl Libre", serif;

* {
    font-family: $Roboto;
}
/* css property */

body {
    overflow-x: hidden;
}

.d-flex {
    display: flex;
}

.display-none {
    display: none;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-grow {
    flex-grow: 1;
}
.flex-direction-column {
    flex-direction: column;
}
.flex-direction-row {
    flex-direction: row;
}
.text-center {
    text-align: center;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}
.justify-content-evenly {
    justify-content: space-evenly;
}
.justify-content-end {
    justify-content: flex-end;
}
.align-items-center {
    align-items: center;
}
.align-items-end {
    align-items: flex-end;
}
.object-fit-cover {
    object-fit: cover;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.position-fix {
    position: fixed;
}
.position-sticky {
    position: sticky;
}
/* share style */

.main-container {
    min-height: calc(100vh - 100px);
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;
}






