@import "../../styles/style.scss";

.item-info-container {
    max-width: 570px;
    height: 570px;
    margin: 16px 0 16px 8px;
    padding: 8px;
    flex-grow: 1;
    // border: darkblue solid 1px;
    .item-info {
        max-width: 550px;
        height: 550px;
        margin: auto;
        // border: darkseagreen 1px solid;
        h2 {
            color: $main-black;
            font-weight: 300;
            text-align: center;
            padding-left: 15px;
            max-width: 429px;
        }
        .btn-saved {
            top: 90px;
            left: 1292px;
        }
        .size-label-container {
            // .size-title {
            //     font-weight: 300;
            //     font-size: 12px;
            //     margin-top: 56px;
            // }
            .size-label {
                color: $main-black;
                font-weight: 300;
                font-size: 18px;
                // border: $main-black solid 1px;
                // display: inline-block;
                cursor: pointer;
                padding: 8px 20px;
                text-align: center;
            }
        }
        .price-wrapper {
            h3 {
                color: $main-black;
                font-weight: 400;
                font-size: 18px;
                text-align: right;
                padding-right: 20px;
            }
        }

        .item-discription-container {
            // max-height: 490px;
            // height: 250px;
            // border: rgb(218, 32, 32) solid 1px;
            color: $main-black;
            padding: 0 20px;
            margin: 40px 0;
            line-height: 32px;
            letter-spacing: 1px;
            font-size: 14px;
        }
    }
}
