@import "../../styles/style.scss";

.level-container {
  width: calc(400px - 8px);
  height: 454px;
  border: 4px solid $main-gray;
  margin: 0 20px;

  .level-title {
    font-weight: 300;
    font-size: 28px;
    margin: 32px 0 10px;
    color: $main-black;
  }

  .level-subtitle-title {
    font-weight: 300;
    margin: 0 0 42px;
    font-size: 10px;
    color: $main-black;
  }

  .level-figure {
    width: 210px;
    margin-bottom: 72px;
    .customer {
      width: 54px;
      height: 54px;
      .customer-circle {
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border: 1px solid $main-gray;
        border-radius: 50%;
        .level-circle {
          margin: 3px;
          width: calc(100% - 6px);
          height: calc(100% - 6px);
          background-color: $main-gray;
          border-radius: 50%;
          transition: 3s;
          &.active {
            background-color: $main-orange;
          }
        }
      }
      p {
        margin-top: 12px;
        color: $main-black;
        font-size: 14px;
        opacity: 0.8;
      }
    }
    .horizantal-bar {
      height: 2px;
      background-color: $main-gray;
    }
  }
  .discount-description {
    width: 186px;
    color: $main-black;
    margin-left: 8px;
    opacity: 0.8;
    .discount {
      margin: 24px 0;
      p {
        margin: 0;
        font-size: 15px;
        font-weight: 300;
      }
    }
  }
}
