@import "../../styles/style.scss";

.index-class-container {
    width: 95%;
    margin: 100px auto;
    img {
        width: 60%;
    }
    div {
        width: 40%;
        padding: 60px;
        p {
            font-size: 28px;
            color: $main-black;
            line-height: 24px;
            &:nth-child(2) {
                padding-top: 16px;
                font-size: 16px;
            }
        }
        .button-link {
            text-decoration: none;
            color: $main-black;
            border: 1px solid $main-scarlet;
            color: $main-scarlet;
            display: block;
            width: 200px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
            margin-top: 60px;
            cursor: pointer;
        }
        &:hover .button-link {
            background-color: $main-scarlet;
            color: $sub-white;
        }
    }
}
