@import "../../styles/style.scss";
.saved-icon {
    position: absolute;
    font-size: 20px;
    color: $main-light-blue;
    cursor: pointer;
}
.saved-filled {
    color: $main-light-blue;

    fill: $main-light-blue;

    stroke: $main-light-blue;
}
