@import "../../styles/style.scss";
.submit-button {
  // position: absolute;
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 1px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: $Roboto;
  font-weight: 300;
  border: none;
  background-color: white;
  color: #d94f06;
  border: 1px solid #d94f06;
  cursor: pointer;
  //center the text
  display: flex;
  justify-content: center;

  &:hover {
    background-color: #d94f06;
    color: white;
    border: none;
    display: block;
  }

  &.inverted {
    background-color: #d94f06;
    color: white;
    border: none;
    margin-left: 82px;
    margin-right: 82px;
    margin-bottom: 48px;

    &:hover {
      background-color: white;
      color: #d94f06;
      border: 1px solid #d94f06;
      background-color: #d94f06;
      color: white;
      border: none;
      opacity: 0.7;
    }
  }
}
