@import "../../styles/style.scss";
.submit-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 1px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: $Roboto;
    font-weight: 300;
    border: none;
    cursor: pointer;
    background-color: white;
    color: #d94f06;
    border: 1px solid #d94f06;
  
    &:hover {
      background-color: #d94f06;
      color: white;
      border: none;
    }
  }
  