@import "../../styles/style.scss";

.cart-dropdown {
  position: absolute;
  width: 424px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  right: -426px;
  top: 0;
  z-index: 5;
  transition: 0.5s;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  font-weight: 100;

  .dropdown-header {
    color: $main-blue;
    margin-left: 45px;
    font-size: 24px;
    font-weight: 300;
  }

  > span {
    font-size: 24px;
    padding: 16px;
    cursor: pointer;
  }
  .empty-message {
    font-size: 16px;
    margin: 50px auto;
  }

  .cart-items {
    height: 60%;
    width: 80%;
    margin-left: 60px;
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    overflow: scroll;
    font-size: 14px;
    color: $main-black;

    .cart-item {
      .item-details {
        .name,
        .price {
          margin-bottom: 10px;
        }
      }
    }
  }
  .cart-button {
    margin: 30px auto;
  }

  .cart-button .success-alert {
    border: 1px solid $main-scarlet;
    border-radius: 0;
    color: $main-scarlet;
    width: 200px;
    height: 48px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    font-family: $Roboto;

    &:hover {
      background-color: $main-scarlet;
      color: $main-white;
    }
  }
}
.right-open {
  right: 0;
}
