@import "../../styles/style.scss";

.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 1000px !important;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    top: 60px;
    right: 0;
    z-index: 0;
  
    .empty-message {
      font-size: 18px;
      margin: 50px auto;
    }
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
  
    button {
      margin-top: auto;
    }
  }
  