@import "../../styles/style.scss";
$sub-color: grey;

.checkout-page {
  width: 65%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 20px;
  position: relative;

  .title {
    font-size: 28px;
    position: absolute;
    top: -60px;
    left: 0px;
  }

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    font-size: 16px;

    .header-block {
      text-transform: capitalize;
      width: 30%;

      &:last-child {
        width: 8%;
      }
    }

    .product-img {
      text-align: center;
    }

    .product-price,
    .product-subtotal {
      text-align: left;
      margin-left: -15px;
    }
  }

  .coupon {
    margin-top: 30px;
    margin-right: auto;
    font-size: 14px;

    .text-coupon-code {
      color: $main-sky-blue;
      font-size: 16px;
      margin: 25px;
    }

    .code-input {
      background: none;
      background-color: white;
      color: $sub-color;
      font-size: 16px;
      font-weight: bold;
      padding: 0 10px;
      color: $main-black;
      display: block;
      width: 150px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $main-black;
      margin: 25px 0;
      text-align: center;
    }

    :focus {
      outline: none;
    }


  }

  .sum {
    margin-top: 30px;
    margin-left: auto;
    font-size: 14px;
  }

  .discount {
    margin-top: 30px;
    margin-left: auto;
    font-size: 14px;
  }

  .total {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    padding-top: 20px;
    // border-top: 1px solid $main-black;
    font-size: 18px;
  }

  .checkout-button {
    border: 1px solid $main-scarlet;
    border-radius: 0;
    color: $main-scarlet;
    width: 160px;
    height: 50px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    font-family: $Roboto;
  }

  .checkout-button:hover {
    background-color: $main-scarlet;
    color: $main-white;
  }
}
