.cart-item {
  width: 100%;
  display: flex;
  min-height: 200px;
  margin-bottom: 15px;

  figure {
    width: 40%;
    margin:0;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .item-details {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
    .arrow {
      padding: 15px;
      cursor: pointer;
      margin-right: 15px;
      position: absolute;
      right: 15px;
      bottom: 15px;
    }

    .name {
      font-size: 16px;
    }
  }
}
