@import "../../styles/style.scss";

.menu-link {
    text-decoration: none;
    color: $main-black;
}
.sub-menu-li {
    margin: 12px 0;
    width: 200px;
    margin-right: 24px;
    padding-left: 20px;
    cursor: pointer;
    .chevron-right {
        width: 0;
        transition: 0.5s;
    }
    &:hover .chevron-right {
        width: 32px;
    }
}
