@import "../../styles/style.scss";

.order-payment-head {
    height: 160px;
    .order-payment-title {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        color: $main-blue;
    }
    .order-payment-step {
        line-height: 160px;
        font-size: 14px;
        a {
            text-decoration: none;
            color: $main-black;
        }
    }
}
.order-payment-content {
    min-height: 420px;
    margin-bottom: 48px;
    color: $main-black;

    .MuiFormControl-root {
        .MuiFormLabel-root.Mui-focused {
            color: $main-black;
        }
        .MuiInput-underline::after {
            border-bottom-color: $main-orange;
        }
    }
    .order-payment-subcontent {
        padding: 0 32px;
        flex: 1 0 0;
        color: $main-black;
        &:focus-within.subcontent-left {
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
        }
        img {
            object-fit: cover;
            width: 100%;
        }
        .confirm-btn {
            display: block;
            padding: 16px 0;
            text-align: center;
            text-decoration: none;
            width: 75%;
            font-size: 20px;
            color: $main-scarlet;
            border: 1px solid $main-scarlet;
            &:hover {
                background: $main-orange;
                color: $sub-white;
                border: 1px solid transparent;
            }
        }
        &.subcontent-left {
            margin-top: 32px;
            margin-right: 18px;
            padding: 0;
            position: relative;
            transform-style: preserve-3d;
            transition: all 0.5s;
            // &:active{
            //   transform: rotateY(180deg);
            //   -webkit-transform: rotateY(180deg);
            // }
            .credit-card-demo1 {
                position: absolute;
                width: 342px;
                height: 200px;
                background-image: linear-gradient(
                    0.35turn,
                    #202020,
                    #5a5a5a,
                    #202020
                );
                border-radius: 10px;
                backface-visibility: hidden;
                .credit-card-number {
                    position: absolute;
                    bottom: 20%;
                    left: 50%;
                    backface-visibility: hidden;
                    transform: translateX(-50%);
                    .input-dash {
                        opacity: 0;
                    }
                    .MuiInputLabel-root {
                        display: none;
                    }
                    .MuiInput-underline {
                        &:before {
                            border-bottom: 0;
                        }
                    }
                    .MuiInput-root {
                        input {
                            color: gold;
                            font-size: 22px;
                            letter-spacing: 2.5px;
                            font-family: "Teko", sans-serif;
                        }
                    }
                }
            }
            .credit-card-demo2 {
                position: absolute;
                width: 342px;
                height: 200px;
                background-image: linear-gradient(
                    0.35turn,
                    #202020,
                    #5a5a5a,
                    #202020
                );
                border-radius: 10px;
                backface-visibility: hidden;
                transform: rotateY(180deg);
                .MuiFormControl-root {
                    position: absolute;
                    width: 90%;
                    height: 30px;
                    background: $sub-white;
                    top: 40%;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 10px;
                    .MuiInputLabel-root {
                        display: none;
                    }
                    .MuiInput-underline {
                        &:before {
                            border-bottom: 0;
                        }
                    }
                    .MuiInput-root {
                        margin-top: 0;
                        input {
                            text-align: right;
                            padding-right: 14px;
                            caret-color: transparent;
                            outline: transparent;
                        }
                    }
                }
                .black-strip {
                    position: absolute;
                    top: 20px;
                    width: 100%;
                    height: 40px;
                    background: black;
                }
            }
        }

        &.subcontent-center {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 32px 32px;

            .payment-safe-code {
                .MuiInput-input {
                    &:focus-within
                        ~ .order-payment-subcontent
                        .subcontent-left {
                        transform: rotateY(180deg);
                        -webkit-transform: rotateY(180deg);
                    }
                }
            }
            .credit-card-association {
                .MuiFormControl-root {
                    margin: 0;
                    margin-top: 8px;
                }
            }
            .subcontent-payment-title {
                margin-bottom: 16px;
                label {
                    font-size: 14px;
                    cursor: pointer;
                }
                .order-payment-circle {
                    padding-right: 4px;
                }
            }
            .MuiFormControl-root {
                flex: 1 0 0;
            }
            .subcontent-date {
                margin-top: 32px;
                .MuiFormControl-root {
                    margin-top: 8px;
                    margin-bottom: 0;
                    text-align: center;
                    .MuiInput-input {
                        margin: 0 auto;
                    }
                }
            }
            .credit-card-number {
                margin: 20px 0 20px;
                .MuiFormControl-root {
                    margin-bottom: 0;
                }
            }
        }
        &.subcontent-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 32px;
            margin-bottom: 32px;
            margin-top: 10px;
            padding-right: 0;
            .address-container {
                margin-top: 28px;
                margin-bottom: 32px;
                .group {
                    margin: 0;
                    margin-top: 30px;
                    input {
                        margin: 0;
                    }
                }
            }
            .credit-card-checkedBtn {
                width: 100%;
                margin: 16px 0;
                cursor: pointer;
                .order-payment-square {
                    padding-right: 8px;
                    width: 24px;
                }
                p {
                    margin: 0;
                    letter-spacing: 0.5px;
                }
            }
            .confirm-btn {
                margin-top: 24px;
            }
        }
    }
}
