@import "../../styles/style.scss";

.bg-video {
  height: calc(100vh - 100px);

  .errorText {
    z-index: 30;
    font-size: 40px;
    position: absolute;
    bottom: 80px;
    right: 110px;
    font-family: $Roboto;
    color: black;
  }

  .go-buy-btn {
    z-index: 20;
    position: absolute;
    bottom: 20%;
    right: 15%;
    border: 1px solid $main-scarlet;
    border-radius: 0;
    width: 200px;
    height: 48px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    font-family: $Roboto;
    border: 1px solid $main-scarlet;
    color: $main-scarlet;
    opacity: 0;
  }

  .bg-video-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
}
