@import "../../styles/style.scss";

.list-card-container {
    max-width: 680px;
    border: 1px solid #bbb;
    margin: 2% 0;

    .list-card-img {
        width: 160px;
        height: 160px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .list-card-info {
        .list-card-head {
            // width: 200px;

            .list-card-title {
                font-weight: 400;
                color: $main-black;
                margin: 18px 0 12px;
            }
        }
        .list-card-size-container {
            p {
                color: $main-black;
                margin: 0;
            }
        }
        .list-card-price-container {
            p {
                color: $main-black;
                margin: 12px 0;
            }
        }
    }
    .btns {
        position: relative;
        margin-right: 2%;
        .btn-del {
            margin: 10% 0;
            cursor: pointer;

            .del-icon {
                color: $main-black;
                font-size: 20px;
            }
        }
        .btn-add-cart {
            margin-top: 46%;

            button {
                width: 142px;
                height: 40px;
                background-color: $main-orange;
                border: $main-orange solid 1px;
            }
        }
    }
}
