@import "../../styles/style.scss";

.filter-bar {
    transition: ease-in-out 0.5s;
    width: 480px;
    // height: 430px;
    background-color: $main-white;
    left: 0;
    top: 756px;
    z-index: 100;

    .filter-layer-header {
        margin-top: 24px;

        .close-icon-box {
            .close-icon {
                font-size: 20px;
                padding: 10px;
                color: $main-black;
            }
        }
        h2 {
            letter-spacing: 0.5px;
            font-weight: 400;
            font-size: 16px;
            margin: 12px;
            color: $main-black;
        }
    }
    .filter-content {
        max-width: 480px;
        margin: 24px 0 32px;
        .category-name {
            margin-left: 48px;
            padding-left: 0;
            width: 200px;
            cursor: pointer;
            .checkbox-container {
                margin-top: 20px;

                .checkbox {
                    padding: 10px;
                    font-size: 20px;
                    margin-top: 10px;
                    color: $main-black;
                }
            }
            p {
                letter-spacing: 0.5px;

                margin: 0px;
                font-size: 14px;
                padding: 0px 0 14px 20px;
                color: $main-black;
            }
        }
        .btn-submit-box {
            margin: 20px 0 0 48px;
            .btn-submit {
                padding-left: 48;
                width: 126px;
                height: 36px;
                letter-spacing: 0.9px;
                font-weight: 300;
                background-color: $sub-white;
                color: $main-sky-blue;
                border: $main-sky-blue solid 1px;
            }
            &:hover .btn-submit {
                background-color: $main-sky-blue;
                color: $sub-white;
            }
        }
    }
}
// .filter-bar-close {
//     transform: translateX(-100%);
//     transition: ease-in-out 0.5s;
// }
