@import '../../styles/style.scss';

.nav{
  width: 100%;
  max-height: 60px;
  background: $main-sky-blue;
  font-size: 18px;
  color:$main-white;
  position: sticky;
  top:0;
  left: 0;
  opacity: .8;
    div{
      a{
        padding:16px;
        color:$main-white;
      }
    }
    .leftItem{
      a{
        &:first-child{
          padding-left: 24px;
        }
      }
    }
    .rightItem{
      a{
        &:nth-child(2){
          padding-right: 24px;
        }
      }
    }
    p{
      font-size: 32px;
      font-family: $Libre;
    }
}
