@import "../../styles/style.scss";

.item-details-main-content {
    width: 1140px;
    max-width: 100%;
    margin: auto;
    .breadcrumb-wrapper {
        max-width: 1140px;
        height: 30px;
    }
    .item-suggest-container {
        margin-top: 180px;
    }
}
