@import "../../styles/style.scss";
.add-item-wrapper {
    margin-top: 10px;

    .total {
        p {
            color: $main-black;
            font-size: 14px;
            padding-left: 20px;
            margin-bottom: 10px;
        }
        .total-control {
            color: $main-black;
            height: 40px;
            .minus {
                font-size: 22px;
                padding: 8px 16px;
                margin-top: 10px;
            }
            .plus {
                font-size: 22px;
                padding: 8px 16px;
                margin-top: 10px;
            }
            .total-input {
                width: 60px;
                height: 26px;
                border: solid 1px black;
                text-align: center;
                font-size: 20px;
                padding-right: 20px;
            }
        }
    }
    .item-add-cart {
        padding-top: 36px;
        padding-right: 18px;
        .btn-cart {
            width: 200px;
            height: 50px;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 1px;
            border: 2px solid $main-orange;
            background-color: rgba(247, 182, 108, 0.1);
            color: $main-orange;
            outline: none;
            cursor: pointer;
        }
        &:hover .btn-cart {
            // background: radial-gradient(ellipse at top, #fdb25c, transparent),
            //     radial-gradient(ellipse at bottom, #ff803c, #ffc480);
            // color: $sub-white;
            transition: 0.4s;
            border: 2px solid $main-orange;
            background-color: $main-orange;
            color: $main-white;
        }
    }
}
